<footer class="footer">
  <div class="footer-container">
    <div class="footer-sections footer-section-one">
      <div class="footer-section">
        <div class="head-div">
          <h4>FITNESS</h4>
          <img
            src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector.png?v=1722312881"
            alt="mobile image"
            width="15px"
            height="15px" />
        </div>

        <ul>
          <li><a href="#">Spin</a></li>
          <li><a href="#">Yoga</a></li>
          <li><a href="#">HIIT</a></li>
          <li><a href="#">All Classes</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <div class="head-div">
          <h4>SPA</h4>
          <img
            src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector.png?v=1722312881"
            alt="mobile image"
            width="15px"
            height="15px" />
        </div>
        <ul>
          <li><a href="#">Restore & Recover</a></li>
          <li><a href="#">Infrared Sauna</a></li>
          <li><a href="#">Somadome Meditation</a></li>
          <li><a href="#">All Spa & Wellness Services</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <div class="head-div">
          <h4>TONIC HOUSE</h4>
          <img
            src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector.png?v=1722312881"
            alt="mobile image"
            width="15px"
            height="15px" />
        </div>

        <ul>
          <li><a href="#">Workspace</a></li>
          <li><a href="#">Bar & Cafe</a></li>
          <li><a href="#">Space Rental</a></li>
          <li><a href="#">Upcoming Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <div class="head-div">
          <h4>ABOUT S&T</h4>
          <img
            src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector.png?v=1722312881"
            alt="mobile image"
            width="15px"
            height="15px" />
        </div>

        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-sections">
      <div class="flexfooter" style="display:flex">
        <div class="footer-section">
          <h4 style="color:white">YONGE / SHUTER</h4>
          <p id="yellow">225 Yonge Street, Toronto ON M5B 1N8<br>647-372-0225</p>
          <h4 style="color:white">THE WELL</h4>
          <p id="yellow">458 Front St W, Toronto, ON M5V 0V2<br>647-372-0225</p>
        </div>
        <div class="footer-section">

          <p>OPEN:<br>Monday - Thursday: 5:45 AM - 10 PM<br>Friday: 5:45 AM - 9 PM<br>Saturday: 7 AM - 7:30 PM<br>Sunday: 7:45 AM - 9 PM</p>
          <p>OPEN:<br>Monday - Thursday: 5:45 AM - 10 PM<br>Friday: 5:45 AM - 9 PM<br>Saturday: 7 AM - 7:30 PM<br>Sunday: 7:45 AM - 9 PM</p>
        </div>
      </div>

      <div class="footer-section form">
        <h4 style="color:white;">LET'S GET CONNECTED</h4>
        <form>
          <input
            type="text"
            name="name"
            placeholder="Name">
          <input
            type="email"
            name="email"
            placeholder="E-Mail">
          <button type="submit" style="background-color:white;">SUBSCRIBE <img
              src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Rectangle_6.png?v=1722229214"
              alt="right arrow image"
              width="auto"
              height="auto" /></button>
        </form>
      </div>
      <div class="footer-section" id="withimage-baground">
        <h4 style="color:white">YOUR FAVOURITE SWEAT AND TONIC CLASSES ANYTIME, ANYWHERE</h4>
        <a href="#" class="button">GET 7 DAYS FOR FREE</a>
        <img
          src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/fsdfcew_1.png?v=1722276075"
          alt="mobile image"
          width="10%"
          height="30%" />
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social-media">
      <a href="#"><img
          src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector_Stroke.png?v=1722276840"
          alt="mobile image"
          width="auto"
          height="auto" /></a>
      <a href="#"><img
          src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector_1.png?v=1722276864"
          alt="mobile image"
          width="auto"
          height="auto" /></a>
      <a href="#"><img
          src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Vector_2.png?v=1722276887"
          alt="mobile image"
          width="auto"
          height="auto" /></a>
    </div>
    <p>&copy; 2023 |
      <a href="#">Terms and Conditions</a>
      |
      <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>


<style>
  body {
    font-family: Arial
    , sans-serif;
  }
  .flexfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;

  }
  .flexfooter .footer-section {
    text-align: left;


  }


  .footer {
    background-color: #000;
    color: #fff;
    width: 100vw;
  }

  .footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .footer-section {
    flex: 1 1 200px;
    margin: 10px;
  }

  .footer-section h4 {
    font-size: clamp(7px, 5vw, 15px);
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #C79D5B;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin: 10px 0;
  }

  .footer-section ul li a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
  }

  .footer-section p {
    margin: 10px 0;
    font-size: 14px;
    color: #aaa;
  }

  .footer-section form input,
  .footer-section form button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    background-color: transparent;
    border-bottom: 1px solid #aaa;
    color: #000;
    font-size: clamp(10px, 1.5vw, 15px);
    outline: none;
  }

  .footer-section .button {
    display: inline-block;
    padding: 18px 20px;
    background-color: white;
    border-bottom: none;
    color: #000;
    text-decoration: none;
    font-size: clamp(10px, 1.5vw, 15px);
    z-index: 3;
    
  }

  .footer-bottom {
    text-align: center;
    padding: 20px 40px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom a {
    color: #aaa;
    text-decoration: none;
  }

  .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #aaa;
    padding: 10px;
    align-content: center;
    border-radius: 50%;

  }

  #yellow {
    color: #C79D5B;
  }

  #withimage-baground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button[type="submit"] > img {
    filter: invert(1);
  }

  #withimage-baground > .button {
    width: fit-content;
  }

  #withimage-baground > img {
    position: absolute;
    right: 0;
    margin-top: 3%;
  }
  .footer-section-one > .footer-section > .head-div > img {
    display: none;
  }


  @media (max-width: 768px) {
    .footer-section .button{
      margin-right:30% ;
      padding: 10px 10px;
    }
    .form {
      padding: 15%;
    }

    .footer-section-one > .footer-section > .head-div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .footer-section-one > .footer-section > .head-div > img {
      display: block;
    }

    .footer-section-one > .footer-section {
      border-bottom: 1px solid #2d2d2b;
      margin-top: 10px;
    }
    .footer-sections {
      width: 100%;
      flex-wrap: nowrap !important;
    }
    .footer-section {
      width: 100vw;
    }
    .footer-section-one > .footer-section > ul {
      display: none;
    }
    .footer-section-one > .footer-section > .head-div > img {
      display: block;
    }
    .footer-sections {
      flex-direction: column;
      align-items: center;
      display: block;
      flex-wrap: nowrap;
    }

    .footer-section {
      width: 100%;
      text-align: center;
      margin: 0;
    }

    #withimage-baground {
      flex-direction: column;
      align-items: center;
      height: 150px;
    }

    #withimage-baground > img {
      position: absolute;
      right: 12%;
      margin-top: 32px;
      width: 30%;
      z-index: 1;
      

    }

    .footer-bottom {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      gap: 20px;
      padding: 20px;
    }

    .social-media a {
      margin: 5px 10px;
    }
    .footer-container {
      padding: 10%;
    }
  }

</style>

{% schema %}
  {
    "name": "Footer",
    "settings": [],
    "blocks": [
      {
        "type": "fitness",
        "name": "Fitness",
        "settings": [
          {
            "type": "link_list",
            "id": "fitness_links",
            "label": "Fitness Links"
          }
        ]
      },
      {
        "type": "spa",
        "name": "Spa",
        "settings": [
          {
            "type": "link_list",
            "id": "spa_links",
            "label": "Spa Links"
          }
        ]
      },
      {
        "type": "tonic_house",
        "name": "Tonic House",
        "settings": [
          {
            "type": "link_list",
            "id": "tonic_house_links",
            "label": "Tonic House Links"
          }
        ]
      },
      {
        "type": "about",
        "name": "About S&T",
        "settings": [
          {
            "type": "link_list",
            "id": "about_links",
            "label": "About Links"
          }
        ]
      }, {
        "type": "contact_1",
        "name": "Yonge / Shuter",
        "settings": [
          {
            "type": "text",
            "id": "address_1",
            "label": "Address"
          }, {
            "type": "text",
            "id": "phone_1",
            "label": "Phone"
          }, {
            "type": "textarea",
            "id": "hours_1",
            "label": "Opening Hours"
          }
        ]
      }, {
        "type": "contact_2",
        "name": "The Well",
        "settings": [
          {
            "type": "text",
            "id": "address_2",
            "label": "Address"
          }, {
            "type": "text",
            "id": "phone_2",
            "label": "Phone"
          }, {
            "type": "textarea",
            "id": "hours_2",
            "label": "Opening Hours"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Let's Get Connected",
        "settings": []
      }, {
        "type": "promo",
        "name": "Promo",
        "settings": [
          {
            "type": "url",
            "id": "promo_url",
            "label": "Promo URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer",
        "category": "Footer"
      }
    ]
  }
{% endschema %}