{% schema %}
  {
    "name": "header",
    "settings": [],
    "blocks": [
      {
        "type": "image_block",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "header"
      }
    ]
  }
  {% endschema %}
  

<div class="navbar-container">
  <div class="navbar-alignment">
    <img src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/nav_buttion.png?v=1722101173" alt="Button Image" width="auto" height="auto" />
  </div>
  <div class="logo">

  </div>
</div>

<style>
  .navbar-container {
    background-color: black;
    width: 100vw;
    height: 10vh;
  }
  

</style>