<style>
  .w-full-image{
    width:100%;
    height:auto;
  }
    .slideshow-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     

  }

</style>

<div class="isolate">
  <div class="image-wrap">
    {% render 'responsive-picture',
      desktopImage: section.settings.image,
      mobileImage: section.settings.mobile_image,
      img-class: 'w-full-image'
    %}
  </div>
  <div class="slideshow-container">
    <p>its working</p>
  </div>
</div>


{% schema %}
{
   "name": "slideshow",
   "settings": [
     {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
     },
     {
       "type": "image_picker",
       "id": "mobile_image",
       "label": "Image"
     }
     
   ],
    "presets": [
   {
     "name": "slideshow"
   }
 ]
 }
{% endschema %}
