<style>
  .wellness-recovery-full-image {
    width: 100%;
    height: auto;
  }

  .wellness-recovery-slideshow-container {
    position: relative;
  }

  .wellness-recovery-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: red;
  }

  .wellness-recovery-text-container>* {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .wellness-recovery-text {
    background-color: aqua;
  }

  .wellness-recovery-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .wellness-recovery-richtext {
    margin-bottom: 20px;
  }

  .wellness-recovery-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid currentColor;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: inherit;
  }

  @media screen and (max-width: 768px) {
    .wellness-recovery-text-container {
      flex-direction: column;
      align-items: space-between;
    }
    .wellness-recovery-text-container > * {
      width: 100%;
      height: 50%;
    }
  }
</style>

<div class="wellness-recovery-slideshow-container">
  <div class="image-wrap">
    {% render 'responsive-picture',
      desktopImage: section.settings.image,
      mobileImage: section.settings.mobile_image,
      img-class: 'wellness-recovery-full-image'
    %}
  </div>
  <div class="wellness-recovery-text-container">
    <div class="wellness-recovery-text">
      <div class="wellness-recovery-heading">
        {{ section.settings.text }}
      </div>
      <div class="wellness-recovery-richtext">
        {{ section.settings.richtext }}
      </div>
      <button class="wellness-recovery-button">
        {{ section.settings.button_text }}
      </button>
    </div>
    <div class="wellness-recovery-block"></div>
  </div>
</div>

{% schema %}
{
  "name": "Wellness and Recovery",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Sample Text"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Rich Text",
      "default": "<p>This is rich text</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Me"
    }
  ],
  "presets": [
    {
      "name": "Wellness and Recovery"
    }
  ]
}
{% endschema %}
