<div class="slideshow-container">
  <div
    class="image-wrap"
    id="image-wrap">
    {% render 'responsive-picture'
      , desktopImage: section.settings.image
      , mobileImage: section.settings.mobile_image
      , img-class: 'w-full-image' %}
  </div>
  <div class="slideshow-text-container">
    <div class="container-text">
      <div class="text-content-container">
        <div class="text-content-align">
          <div class="hover-state-text-one">{{ section.settings.text_before }}</div>
          <div class="hover-state-richtext">{{ section.settings.richtext }}</div>
          <div class="hover-state-text-two">{{ section.settings.text_after }}</div>
          <button class="hover-state-button">{{ section.settings.button_text }}</button>
        </div>
      </div>
    </div>
    <div class="container-block">
     
     
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "wellness and recover",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "text_before",
        "label": "Text Before",
        "default": "FITNESS & WORKOUT"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Rich Text",
        "default": "<p>over 200 inclusive <br> classes weekly</p>"
      }, {
        "type": "text",
        "id": "text_after",
        "label": "Text After",
        "default": "Full-service premium amenities. Just bring you, and we do the rest!"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "book classes"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Text Block",
        "settings": [
          {
            "type": "text",
            "id": "block_text_one",
            "label": "Block Text One",
            "default": "First Text"
          }, {
            "type": "text",
            "id": "block_text_two",
            "label": "Block Text Two",
            "default": "Second Text"
          }, {
            "type": "text",
            "id": "block_text_three",
            "label": "Block Text Three",
            "default": "Third Text"
          }, {
            "type": "image_picker",
            "id": "block_background_image",
            "label": "Block Background Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "wellness and recover"
      }
    ]
  }
{% endschema %}
